<header role="banner">
    <div class="toolbar">
        <a id="goto-content" href="#content-main" class="sr-only">Ir al contenido</a>
        <a href="https://www.facebook.com/UniversidadDelMagdalena/" class="btn btn-xs btn-link font-weight-normal" title="Facebook" target="_blank" rel="noopener noreferrer"><span aria-hidden="true" class="ion-social-facebook fab fa-facebook"></span><span class="sr-only">Facebook</span></a>
        <a href="https://twitter.com/unimagdalena" class="btn btn-xs btn-link font-weight-normal" title="Twitter" target="_blank" rel="noopener noreferrer"><span aria-hidden="true" class="ion-social-twitter fab fa-twitter"></span><span class="sr-only">Twitter</span></a>
        <a href="https://www.instagram.com/unimagdalena/" class="btn btn-xs btn-link font-weight-normal" title="Instagram" target="_blank" rel="noopener noreferrer"><span aria-hidden="true" class="ion-social-instagram-outline fab fa-instagram"></span><span class="sr-only">Instagram</span></a>
        <a href="https://www.youtube.com/user/unimagdalenatv" class="btn btn-xs btn-link font-weight-normal" title="Youtube" target="_blank" rel="noopener noreferrer"><span aria-hidden="true" class="ion-social-youtube fab fa-youtube"></span><span class="sr-only">Youtube</span></a>
        
    <a href="https://www.unimagdalena.edu.co/Publico/Cuidadano" class="btn btn-xs btn-sm btn-link">Ciudadano</a>  
    <a href="https://www.unimagdalena.edu.co/Publico/EnlacesAcceso" class="btn btn-xs btn-link">Mapa de sitio</a>
        
    </div>
    <div class="nav-bar">
        <div class="brand">
            <a href="/">
                <img src="https://cdn.unimagdalena.edu.co/images/escudo/bg_dark/default.png" alt="Escudo de la Universidad del Magdalena" />
                <h1>Universidad del <span>Magdalena</span></h1>
            </a>
        </div>
        <div id="navbar-mobile" class="text-center">
            <button type="button" class="btn btn-block btn-primary" title="Menu de navegación"><span aria-hidden="true" class="ion-navicon-round"></span><span class="sr-only">Menú de navegación</span></button>
        </div>
        <nav role="navigation" id="nav-main">
            <ul role="menubar">
                <li>
                  <a role="menuitem" href="/">Inicio</a>
                </li>            
                <li>
                  <a role="menuitem" href="https://www.unimagdalena.edu.co/UnidadesOrganizativas/Dependencia/6">Biblioteca Germán Bula Meyer</a>
                </li>
                <li>
                  <a role="menuitem" href="https://unimagdalena.primo.exlibrisgroup.com/discovery/search?vid=57UMA_INST:UMA&lang=es">Descubridor Tayrona</a>
                </li>
                <li>
                  <a role="menuitem" href="http://biblioteca.unimagdalena.edu.co/Home/Encuesta">Evaluación de Servicio</a>
                </li>            
            </ul>
        </nav>
        <div class="brand">
          <a href="/">
            <img src="/assets/image/LOGO BIBLIOTECA.png" alt="">
          </a>
        </div>
    </div>
  </header>