
<div class="bodyCarrusel">
    <div class="textMasReciente">
        <h3>Títulos Recientemente subidos </h3>
    </div>
    <div class="containerCarrusel">
        <div class="col"></div>
        <div class="col-5" style="height: 340px;">
            <p-carousel [value]="ejemplaresCarrousel" [numVisible]="3" [numScroll]="1" [circular]="true" [autoplayInterval]="3000" [responsiveOptions]="responsiveOptions">
                <ng-template let-ejemplaresCarrousel pTemplate="item" >
                    <div class="border-1 surface-border border-round m-2 text-center py-5 px-3" >
                        <div >
                            <a href="{{ejemplaresCarrousel.linkBusqueda}}">
                                <img src="{{azureStorageUrl}}{{ejemplaresCarrousel.imagen}}" class="w-6 shadow-2 imageItem" />
                            </a>
                        </div>
                    </div>
                </ng-template>
            </p-carousel>
        </div>
        
        <div class="col"></div>
    </div>
    
</div>

<div class="containerBody">
    <div class="containertitleAdquisicion">
        <h3 class="titleAdquisicion">Todas nuestras adquisiciones literarias físicas </h3>
    </div>
    <ul class="listCatalog">
        <li *ngFor="let ejemplar of ejemplares" class="itemList">
            
            <div class="cardPortada">
                <a class="imagePortada" href="{{ejemplar.linkBusqueda}}">
                    <img class="images" src="{{azureStorageUrl}}{{ejemplar.imagen}}" alt="image">
                    <div class="info">
                        <h6 class="text"> {{ejemplar.titulo}} </h6>
                        <h6 class="time">{{ejemplar.fechaPublicado.split('T')[0]}}</h6>
                    </div>
                </a>
            </div>
            <div class="cardInformation">
                <div class="labels">
                    <div class="values ">
                        <label>Autor:</label>
                        <span class="autor"> {{ejemplar.autor}} </span>
                    </div>
                    <div class="values">
                        <label>Tipo:</label>
                        <span> {{ejemplar.tipoMaterial}} </span>
                    </div>
                    
                    <div class="values">
                        <label>Signatura:</label>
                        <span> {{ejemplar.signatura}}</span>
                    </div>
                    
                    <div class="values" *ngIf="ejemplar.tipoMaterial == 'Revista'">
                        <label>ISSN:</label>
                        <span> {{ejemplar.isbn}} </span>
                    </div>
                    <div class="values" *ngIf="ejemplar.tipoMaterial == 'Libro'">
                        <label>ISBN:</label>
                        <span> {{ejemplar.isbn}} </span>
                    </div>
                </div>
                <div class="texts botton"> 
                    <a class="" href="{{ejemplar.linkBusqueda}}">
                    Ver mas delalles
                    </a>
                </div>
            </div>
        </li>
        
    </ul>
</div>
